<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <RollingFile name="file" fileName="/tmp/app.log" filePattern="/tmp/app-%d.log.gz" append="false" >
        <SizeBasedTriggeringPolicy size="10KB" />
        <DefaultRolloverStrategy max="5" />
        <PatternLayout>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
      </PatternLayout>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="file"/>
    </Root>
  </Loggers>
</Configuration>
